fleet-web/src/wsdl/CarWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://car.domain.realdolmen.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CarWebServiceService" targetNamespace="http://car.domain.realdolmen.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://car.domain.realdolmen.com/" targetNamespace="http://carmodel.domain.realdolmen.com/" version="1.0">
            <xs:import namespace="http://car.domain.realdolmen.com/"/>
            <xs:complexType name="CarModel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="brand" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="ns1:carType"/>
                    <xs:element minOccurs="0" name="fuelType" type="ns1:fuel"/>
                    <xs:element minOccurs="0" name="year" type="xs:dateTime"/>
                    <xs:element name="quarter" type="xs:int"/>
                    <xs:element name="minKm" type="xs:int"/>
                    <xs:element name="maxKm" type="xs:int"/>
                    <xs:element name="deliveryTime" type="xs:int"/>
                    <xs:element name="fiscalHp" type="xs:int"/>
                    <xs:element name="co2" type="xs:int"/>
                    <xs:element name="category" type="xs:int"/>
                    <xs:element minOccurs="0" name="imageUrl" type="xs:string"/>
                    <xs:element minOccurs="0" name="pack" type="ns1:Pack"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://car.domain.realdolmen.com/" xmlns:ns2="http://car.domain.realdolmen.com" xmlns:ns1="http://carmodel.domain.realdolmen.com/" elementFormDefault="unqualified" targetNamespace="http://car.domain.realdolmen.com/" version="1.0">
            <xs:import namespace="http://carmodel.domain.realdolmen.com/"/>
            <xs:import namespace="http://car.domain.realdolmen.com"/>
            <xs:element name="car" type="ns2:Car"/>
            <xs:element name="carModel" type="ns1:CarModel"/>
            <xs:element name="createCar" type="tns:createCar"/>
            <xs:element name="createCarResponse" type="tns:createCarResponse"/>
            <xs:element name="customPack" type="tns:CustomPack"/>
            <xs:element name="findAllCars" type="tns:findAllCars"/>
            <xs:element name="findAllCarsResponse" type="tns:findAllCarsResponse"/>
            <xs:element name="findCarById" type="tns:findCarById"/>
            <xs:element name="findCarByIdResponse" type="tns:findCarByIdResponse"/>
            <xs:element name="option" type="tns:Option"/>
            <xs:element name="pack" type="tns:Pack"/>
            <xs:complexType name="createCar">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Car" type="ns2:Car"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Pack">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="price" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="benefitPrice" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="upgrade" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="downgrade" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="options">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="option" nillable="true" type="tns:Option"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Option">
                <xs:sequence>
                    <xs:element minOccurs="0" name="OPTION_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CustomPack">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="options">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="option" type="tns:Option"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createCarResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findAllCars">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findAllCarsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Cars" type="ns2:Car"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findCarById">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findCarByIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Car" type="ns2:Car"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="carType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="HATCHBACK"/>
                    <xs:enumeration value="BERLINE"/>
                    <xs:enumeration value="BREAK"/>
                    <xs:enumeration value="COUPE"/>
                    <xs:enumeration value="JEEP"/>
                    <xs:enumeration value="MONOVOLUME"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="fuel">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Diesel"/>
                    <xs:enumeration value="Benzine"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://carmodel.domain.realdolmen.com/" xmlns:ns1="http://car.domain.realdolmen.com/" targetNamespace="http://car.domain.realdolmen.com" version="1.0">
            <xs:import namespace="http://car.domain.realdolmen.com/"/>
            <xs:import namespace="http://carmodel.domain.realdolmen.com/"/>
            <xs:complexType name="Car">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="model" type="ns2:CarModel"/>
                    <xs:element minOccurs="0" name="mileage" type="xs:int"/>
                    <xs:element minOccurs="0" name="carInUse" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="customPack" type="ns1:CustomPack"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findAllCars">
        <wsdl:part element="tns:findAllCars" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findCarByIdResponse">
        <wsdl:part element="tns:findCarByIdResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllCarsResponse">
        <wsdl:part element="tns:findAllCarsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createCar">
        <wsdl:part element="tns:createCar" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createCarResponse">
        <wsdl:part element="tns:createCarResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findCarById">
        <wsdl:part element="tns:findCarById" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CarWebService">
        <wsdl:operation name="createCar">
            <wsdl:input message="tns:createCar" name="createCar"></wsdl:input>
            <wsdl:output message="tns:createCarResponse" name="createCarResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllCars">
            <wsdl:input message="tns:findAllCars" name="findAllCars"></wsdl:input>
            <wsdl:output message="tns:findAllCarsResponse" name="findAllCarsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findCarById">
            <wsdl:input message="tns:findCarById" name="findCarById"></wsdl:input>
            <wsdl:output message="tns:findCarByIdResponse" name="findCarByIdResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CarWebServiceServiceSoapBinding" type="tns:CarWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createCar">
            <soap:operation soapAction="create" style="document"/>
            <wsdl:input name="createCar">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createCarResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllCars">
            <soap:operation soapAction="findAllCars" style="document"/>
            <wsdl:input name="findAllCars">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAllCarsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findCarById">
            <soap:operation soapAction="findCarById" style="document"/>
            <wsdl:input name="findCarById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findCarByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CarWebServiceService">
        <wsdl:port binding="tns:CarWebServiceServiceSoapBinding" name="CarWebServicePort">
            <soap:address location="http://localhost:8080/fleet-ejb-1.0-SNAPSHOT/CarWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>