fleet-web/src/wsdl/OptionWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://option.domain.realdolmen.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OptionWebServiceService" targetNamespace="http://option.domain.realdolmen.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://option.domain.realdolmen.com/" elementFormDefault="unqualified" targetNamespace="http://option.domain.realdolmen.com/" version="1.0">
            <xs:element name="createOption" type="tns:createOption"/>
            <xs:element name="createOptionResponse" type="tns:createOptionResponse"/>
            <xs:element name="findAllOption" type="tns:findAllOption"/>
            <xs:element name="findAllOptionResponse" type="tns:findAllOptionResponse"/>
            <xs:element name="findOptionById" type="tns:findOptionById"/>
            <xs:element name="findOptionByIdResponse" type="tns:findOptionByIdResponse"/>
            <xs:element name="findOptionByName" type="tns:findOptionByName"/>
            <xs:element name="findOptionByNameResponse" type="tns:findOptionByNameResponse"/>
            <xs:element name="findOptionByType" type="tns:findOptionByType"/>
            <xs:element name="findOptionByTypeResponse" type="tns:findOptionByTypeResponse"/>
            <xs:element name="findOptionLowerThandPrice" type="tns:findOptionLowerThandPrice"/>
            <xs:element name="findOptionLowerThandPriceResponse" type="tns:findOptionLowerThandPriceResponse"/>
            <xs:element name="option" type="tns:Option"/>
            <xs:complexType name="findOptionLowerThandPrice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="price" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findOptionLowerThandPriceResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="optionss" type="tns:Option"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Option">
                <xs:sequence>
                    <xs:element minOccurs="0" name="OPTION_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findOptionByType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findOptionByTypeResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" type="tns:Option"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createOption">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:option"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createOptionResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findOptionByName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findOptionByNameResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" type="tns:Option"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findOptionById">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findOptionByIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:option"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findAllOption">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findAllOptionResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" type="tns:Option"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findOptionByIdResponse">
        <wsdl:part element="tns:findOptionByIdResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findOptionByTypeResponse">
        <wsdl:part element="tns:findOptionByTypeResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findOptionByNameResponse">
        <wsdl:part element="tns:findOptionByNameResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findOptionLowerThandPrice">
        <wsdl:part element="tns:findOptionLowerThandPrice" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findOptionLowerThandPriceResponse">
        <wsdl:part element="tns:findOptionLowerThandPriceResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllOptionResponse">
        <wsdl:part element="tns:findAllOptionResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findOptionByType">
        <wsdl:part element="tns:findOptionByType" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createOption">
        <wsdl:part element="tns:createOption" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findOptionByName">
        <wsdl:part element="tns:findOptionByName" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findOptionById">
        <wsdl:part element="tns:findOptionById" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllOption">
        <wsdl:part element="tns:findAllOption" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createOptionResponse">
        <wsdl:part element="tns:createOptionResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OptionWebService">
        <wsdl:operation name="findOptionLowerThandPrice">
            <wsdl:input message="tns:findOptionLowerThandPrice" name="findOptionLowerThandPrice"></wsdl:input>
            <wsdl:output message="tns:findOptionLowerThandPriceResponse" name="findOptionLowerThandPriceResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findOptionByType">
            <wsdl:input message="tns:findOptionByType" name="findOptionByType"></wsdl:input>
            <wsdl:output message="tns:findOptionByTypeResponse" name="findOptionByTypeResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createOption">
            <wsdl:input message="tns:createOption" name="createOption"></wsdl:input>
            <wsdl:output message="tns:createOptionResponse" name="createOptionResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findOptionByName">
            <wsdl:input message="tns:findOptionByName" name="findOptionByName"></wsdl:input>
            <wsdl:output message="tns:findOptionByNameResponse" name="findOptionByNameResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findOptionById">
            <wsdl:input message="tns:findOptionById" name="findOptionById"></wsdl:input>
            <wsdl:output message="tns:findOptionByIdResponse" name="findOptionByIdResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllOption">
            <wsdl:input message="tns:findAllOption" name="findAllOption"></wsdl:input>
            <wsdl:output message="tns:findAllOptionResponse" name="findAllOptionResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OptionWebServiceServiceSoapBinding" type="tns:OptionWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findOptionLowerThandPrice">
            <soap:operation soapAction="findOptionLowerThandPrice" style="document"/>
            <wsdl:input name="findOptionLowerThandPrice">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findOptionLowerThandPriceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findOptionByType">
            <soap:operation soapAction="findOptionByType" style="document"/>
            <wsdl:input name="findOptionByType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findOptionByTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createOption">
            <soap:operation soapAction="createOption" style="document"/>
            <wsdl:input name="createOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findOptionByName">
            <soap:operation soapAction="findOptionByName" style="document"/>
            <wsdl:input name="findOptionByName">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findOptionByNameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findOptionById">
            <soap:operation soapAction="findOptionById" style="document"/>
            <wsdl:input name="findOptionById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findOptionByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllOption">
            <soap:operation soapAction="findAllOption" style="document"/>
            <wsdl:input name="findAllOption">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAllOptionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OptionWebServiceService">
        <wsdl:port binding="tns:OptionWebServiceServiceSoapBinding" name="OptionWebServicePort">
            <soap:address location="http://localhost:8080/fleet-ejb-1.0-SNAPSHOT/OptionWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>