fleet-web/src/main/resources/wsdl/CustomPackWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://custompack.domain.realdolmen.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomPackWebServiceService" targetNamespace="http://custompack.domain.realdolmen.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://custompack.domain.realdolmen.com/" elementFormDefault="unqualified" targetNamespace="http://custompack.domain.realdolmen.com/" version="1.0">
            <xs:element name="createCustomPack" type="tns:createCustomPack"/>
            <xs:element name="createCustomPackResponse" type="tns:createCustomPackResponse"/>
            <xs:element name="customPack" type="tns:CustomPack"/>
            <xs:element name="findAllCustomPacks" type="tns:findAllCustomPacks"/>
            <xs:element name="findAllCustomPacksResponse" type="tns:findAllCustomPacksResponse"/>
            <xs:element name="findCustomPackById" type="tns:findCustomPackById"/>
            <xs:element name="findCustomPackByIdResponse" type="tns:findCustomPackByIdResponse"/>
            <xs:element name="option" type="tns:Option"/>
            <xs:complexType name="findCustomPackById">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findCustomPackByIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:customPack"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CustomPack">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="options">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:option"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Option">
                <xs:sequence>
                    <xs:element minOccurs="0" name="OPTION_ID" type="xs:int"/>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createCustomPack">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:customPack"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createCustomPackResponse">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findAllCustomPacks">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="findAllCustomPacksResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="CustomPacks" type="tns:CustomPack"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findCustomPackById">
        <wsdl:part element="tns:findCustomPackById" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createCustomPack">
        <wsdl:part element="tns:createCustomPack" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllCustomPacks">
        <wsdl:part element="tns:findAllCustomPacks" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findAllCustomPacksResponse">
        <wsdl:part element="tns:findAllCustomPacksResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findCustomPackByIdResponse">
        <wsdl:part element="tns:findCustomPackByIdResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="createCustomPackResponse">
        <wsdl:part element="tns:createCustomPackResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CustomPackWebService">
        <wsdl:operation name="findCustomPackById">
            <wsdl:input message="tns:findCustomPackById" name="findCustomPackById"></wsdl:input>
            <wsdl:output message="tns:findCustomPackByIdResponse" name="findCustomPackByIdResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCustomPack">
            <wsdl:input message="tns:createCustomPack" name="createCustomPack"></wsdl:input>
            <wsdl:output message="tns:createCustomPackResponse" name="createCustomPackResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllCustomPacks">
            <wsdl:input message="tns:findAllCustomPacks" name="findAllCustomPacks"></wsdl:input>
            <wsdl:output message="tns:findAllCustomPacksResponse" name="findAllCustomPacksResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomPackWebServiceServiceSoapBinding" type="tns:CustomPackWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findCustomPackById">
            <soap:operation soapAction="findCustomPackById" style="document"/>
            <wsdl:input name="findCustomPackById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findCustomPackByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createCustomPack">
            <soap:operation soapAction="createCustomPack" style="document"/>
            <wsdl:input name="createCustomPack">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createCustomPackResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="findAllCustomPacks">
            <soap:operation soapAction="findAllCustomPacks" style="document"/>
            <wsdl:input name="findAllCustomPacks">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findAllCustomPacksResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomPackWebServiceService">
        <wsdl:port binding="tns:CustomPackWebServiceServiceSoapBinding" name="CustomPackWebServicePort">
            <soap:address location="http://localhost:8080/fleet-ejb-1.0-SNAPSHOT/CustomPackWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>